.panel
{
padding:20px;
text-align:center;
color:black;
}


#controlbox
{
	float:left;
	width:200px;
}

#panelbox
{
	float:right;
	width:400px;
}

.setcontainer
{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}